{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src/"
      }
    }],
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
  ]
}
