language: node_js
sudo: false
node_js:
- '8'
cache: yarn
before_install:
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
before_deploy:
- yarn run build
deploy:
  provider: script
  script: bash ./scripts/deploy.sh
  skip_cleanup: true
env:
  global:
  - secure: nsYTijPccDgzIPU4jQhV3nj8EjjipcpxbUzfwIiq6rRxW0HXUb8ad1K49q7YWqiWzmQLj2ZSxJ/xatzt672HRT8ZYqfBTNN69ZgCeAoNCx2PQTuA02wxhtMtRmgeN52Fbt0EAgNIg/AD/VHO9WjSZyW47dFL6lkGCeYEW3Znd/1A+8phGefV2tcQF+txczVU9Y2lcLq0aUN/86M+4nkBTYgYzYbCJK6Apzso3+GDREYfRW1sw5kKBD/l9OqxdX5IBM30owamjxYu6JxAdpReQC8WBDJ0aGOaqugWJjsI6tsa7l7Ya3MkbKn7gl2yUB594szzMwARAzZHjCij1Wjy6Sw+jthxYftC3P+TE2thqMeP7FlFq+CC4AYa0YkVdDvOMn/WO3EHpuBOqWHLDChv2SXMdgF8cs/DhGCOf4qV0g0MPmZ1co089PBlsQPU8yHwlXsP6kA51CIne/vMR7aElxnpP7eLAMw9edfCi8RvjTIjBoyZP6loZC2DRFxrGYpmacpT4AXFslTtMKIXEFlbnjz5h6RChAkgk6+cKM2/30eaRDXwMId7DkzrqnpLGKl8i/8HMc0j7adZkIf6u9u4U0EYIl9aBVZ/ozURZwURG/oli/y/w27Zn9tDVFky3Rq5PwFrOiUH5/Lg0+KQpfrkjWL5i+95f9uQLLKcmRGv4RU=
  - secure: mG47Llyyeo/grp9LBjVpTiKeeFcyPo07bPXWKZWy8iD2sn08FtxZAkilfT7kzfIBWfPd2dOZFTMaxw23e82mH7XtN9mK2H/kdgoxYhYw9vxV+3h1UewEhc5tzVeLjWf91IqV5fsIfyOBhFNCkriKOFO/tefB6gJKbnSxJ/7DD08Yr9Y5awg9mzmBM0C/wZMcjBw2Vptn9WeefRLsaeW7oQBfW7+Sq9+xcSVHFw/XpvhF+UsLzjrAms+GZ8xN22LCQAXvLdb6TaYCODgfOwybOJvn7DssSS7pv1G1ODA2cG9CTGLeXqHZKMFtZsjzhBTqqZriuFl/XCBdNfHkqcvcW6UpB+9N+8YjEPGfXfRPqTDT0WTwHYe6or8o5dQzPXEL8RLWLBmYkVC9MOaNdcZlu/mDlHzHTSTQQeQ8T4rrZJeARZBhTDpNeR1eqs3gG8dJ9zQwTE4I0tMtbxOMT2HY0vmjWCom0USGs3LWkJzcoszlZvvV8564pl8BnID11P9tzmPO6LEqSxGxduGRIRYYwA/j3Gt4WVRlASy1V8YePay0Gq82MafKeFUaSB7U/EHJEiwT4zSr7zKuwr7AFIPYUg1MRyIAyyX5tocRsByvvqgwjTcVuDff83yDm41hVBalptn6iqUKlcq7I/OX0vxSDZGsRRLczdsHpGtFCVtMuYs=
