@media (max-width: 1000px) {
  .homepage-img {
    width: 96% !important;
    height: 96% !important;
  }
  .homepage-main-text {
    margin-left: 30px !important;
  }
}

.body-unscrollable {
  overflow: hidden;
}
