:global(.slick-slide) {
  outline: none;
}
/* Use pointer cursor for next/previous slides but not current */
:global(.slick-slide.slick-active) {
  cursor: pointer;
}
:global(.slick-slide.slick-active.slick-current) {
  cursor: default;
}

.carousel-container {
  margin-left: 0px;
  width: 100%;
}

@media (min-width: 1040px) {
  .carousel-container {
    margin-left: -20%;
    width: 140%;
  }
}
